@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#f1faff, #cbe4ff);
}
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 270px; /* Default lebar sidebar */
    transition: margin-left 0.4s ease; /* Animasi transisi */
}

.sidebar.collapsed + .content {
    margin-left: 85px; /* Lebar sidebar saat collapsed */
}
